<section class="admin-categories-new">

  <header class="page-header">
    <h2>Edit Image</h2>
  </header>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [@photo] do |form| %>
        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :photo %>
          <%= form.text_field :category, class: 'form-control', placeholder: 'New Category' %>
          <%= form.text_field :image_url, class: 'form-control', placeholder: 'New Image URL' %>
        </div>
        <%= form.submit 'Confirm', class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</section>